@use "../colors" as *;

.header {
  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    &__text {
      background-color: $color-black;
      width: 100%;
      z-index: 1;
    }
  }

  .header-image {
    overflow: hidden;
    z-index: 1;
    &__img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.header-buttons {
  display: flex;
  gap: 3.2rem;
}
