@use "../colors" as *;

.faq-list__item {
  max-height: 8rem;
  overflow: hidden;
  transition: max-height 0.3s ease;
  .faq-list__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border: 0;
    width: 100%;
    padding: 2rem;
    color: $color-white;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.6rem;
    background-color: $color-grey;
    cursor: pointer;
    .faq-list__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        color: $color-primary;
        width: 3rem;
        height: 3rem;
        transition: color 0.3s ease;
      }
    }
  }

  .faq-list__answer {
    padding: 2rem;
    background-color: $color-grey;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: opacity 0.3s ease;
    overflow: hidden;
    opacity: 0;

    .paragraphs-primary {
      text-align: left;
      font-size: 1.6rem;
    }
  }
}

.faq-list__item--expanded .faq-list__answer {
  opacity: 1;
}

.faq-list__item--expanded .faq-list__button {
  background-color: $color-grey;

  .faq-list__icon {
    svg {
      color: $color-red;
    }
  }
}

.faq-list__item--expanded {
  max-height: 25rem;
}

@media (min-width: 360px) and (max-width: 575px) {
  .faq-list__item .faq-list__button {
    height: 10rem;
    width: 100%;
    white-space: wrap;
  }
  .faq-list__item {
    max-height: 10rem;
  }
  .faq-list__item.faq-list__item--expanded {
    max-height: 30rem;
  }

  .faq-list__item .faq-list__button {
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    text-align: left;

    gap: 1rem;
  }
}
