@use "../colors" as *;
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3.2rem;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: $color-black;
  z-index: 9999;
}
