@use "../colors" as *;

.footer {
  position: relative;
  background-color: $color-grey;
  margin-top: 18rem;
  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 0.2rem;
    background-color: #d9d9d9;
    border-radius: 4px;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    margin: 0 auto;
    max-width: 132rem;
    padding: 8rem 0;
  }
  .footer-col {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  .footer-col__item {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3;
    a {
      transition: color 0.3s ease;
      color: $color-white;
      &:hover {
        color: $color-primary;
      }
    }
  }
  .footer-col__heading {
    font-size: 1.6rem;
    font-weight: 600;
    color: $color-primary;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-nav__list {
  .footer-nav__item {
    cursor: pointer;
    transition: color 0.3s ease;
    &:hover {
      color: $color-primary;
    }
  }
}

@media screen and (max-width: 1320px) {
  .footer .footer-container {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 6.4rem;
  }
  .footer .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
  }
  .footer-col {
    text-align: center;
    &:last-child {
      order: -1;
    }
    &:nth-child(1) {
      order: -2;
    }
  }
  .footer-col__heading {
    text-align: center;
  }
  .footer-list {
    align-items: center;
  }
  .footer-nav__list {
    flex-direction: column;
    gap: 1.6rem;
  }
  .footer-nav__item {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .footer .footer-container {
    grid-template-columns: 1fr;
  }
  .footer-col {
    &:last-child {
      order: 0;
    }
    &:nth-child(1) {
      order: 0;
    }
  }
  .footer-col__heading {
    text-align: center;
  }
  .footer-list {
    align-items: center;
  }
  .footer-nav__list {
    flex-direction: column;
    gap: 1.6rem;
  }
  .footer-nav__item {
    text-align: center;
  }
}
